In [96]:
from modsim import *
#notes: beta = infection rate
# alpha = kill rate

In [97]:
#parameters
beta = 0.01
alpha = 0.005
N = 1000 #initial population

S = N - 1
I = 1
R = 0

In [98]:
init_state = State(S =  N - 1, I=1, R=0)
show(init_state)

   state
S    999
I      1
R      0

In [99]:
init_state /= init_state.sum()
show(init_state)

   state
S  0.999
I  0.001
R  0.000

In [100]:
tc = 2 #time between contact
tr = 7 #recovery time in days

In [101]:
beta = 0.01
alpha = 0.005
z0 = 1
dt = 0.1
r0 = 0

In [102]:
def make_system(beta, alpha):
    init = State(S = N - 1, I = 1, R = 0)
    init /= init.sum()
    return System(init = init, t_end = 1000, beta = beta, alpha = alpha)

In [103]:
system = make_system(beta, alpha)
show(system)

                                                   value
init   S    0.999
I    0.001
R    0.000
Name: state, ...
t_end                                               1000
beta                                                0.01
alpha                                              0.005

In [104]:
def update_func(t, state, system):
    S, I, R = state.S, state.I, state.R
    dIdt = system.beta * S * I / N - alpha * I
    dSdt = -system.beta * S * I / N
    dRdt = system.alpha * I 

    S += dSdt * dt
    I += dIdt * dt
    R += dRdt * dt

    return State(S = S, I = I, R = R)

In [105]:
state = update_func(0, init_state, system)
show(state)

          state
S  9.990000e-01
I  9.995010e-04
R  5.000000e-07

In [106]:
#simulation step
def run_simulation1(system, update_func):
    state = system.init
    for t in range(0, system.t_end):
        state = update_func(t, state, system)
        return state

In [107]:
final_state = run_simulation1(system, update_func)
show(final_state)

          state
S  9.990000e-01
I  9.995010e-04
R  5.000000e-07

In [108]:
def run_simulation2(system, update_func):
    S = TimeSeries()
    I = TimeSeries()
    R = TimeSeries()

    state = system.init
    S[0], I[0], R[0] = State #r0

    for t in range(0, system.t_end):
        state = update_func(t, state, system)
        S[t+1], I[t+1], R[t+1] = state.s, state.i, state.r
    return S, I, R

In [109]:
S, I, R = run_simulation2(system, update_func)
print(S)
print(I)
print(R)

TypeError: cannot unpack non-iterable function object

In [ ]:
def plot_results(S, I, R):
    S.plot(style='--', label = 'Susceptible')
    I.plot(style='-', label = 'Infected')
    R.plot(style=':', label = 'Recovered')
    decorate(xlabel='Time(days)', ylabel = 'Fraction of population')

In [ ]:
plot_results(S, I, R)